body {
    background-color: #eeeeee;
}

.logo{
    background: #b3a9c2;
}

.labeled{
    font-size: 50px;
    color: #ff0009;
}
#timeTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.timeTableHead {
    height: 1.5rem;
    background-color: #999999;
}

#timeTable td {
    border: black 1px solid;
    text-align: center;
}
#time-node{
    padding: 15px;
    background: #212121;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    /*font-size: 30px;*/
    width: 250px;
    text-align: center;
    margin-left: 10px;
}

.timeTable {
    margin: 5px 10px 30px 10px;
}
.timeTableData {
    height: 8rem;
    vertical-align: top;
}

#yardTable {
    border-collapse: collapse;
    border-spacing: 0;
}
#totalTable {
    margin: 15px 10px 30px 10px;
}
#totalTable td {
    border: black 1px solid;
    text-align: center;
}
.yardTableHead {
    /*height: 1.5rem;*/
    background-color: #999999;
}

#yardTable td {
    border: black 1px solid;
    text-align: center;
    width: 15em;
    height: 6rem;
}

.yardTableData {
    height: 6rem;
    width: 3.4%;
}
.totalTableHead{
    background-color: #999999;
}
.totalTableData{
    height: 6rem;
    /*font-size: 30px;*/
}
.title{
    color: #ffffff;
}
.tableBold {
    font-weight: bold;
    letter-spacing: 0.08em;
    padding: 10px 0 10px 0;
}

.Truck {
    display: flex;
    margin: 4px auto;
    flex-direction: column;
    font-size: 18px;
    padding: 3px;
    width: 14em;
    background-color: white;
    border: 2px solid black;
}

.manifest{
    font-weight: bold;
}

.Truck:hover {
 border: 2px solid greenyellow !important;
 background-color: black !important;
 color: greenyellow !important;
 cursor: pointer;

}

.Truck p {
    word-break: break-all;
    display: flex;
    margin: 0;
    line-height: 1.5em;
}

.TruckID {
    padding: 2px;
    width: 4em;
    justify-content: center;
    font-weight: bold;
}

.DO {
    padding: 2px;
    width: 8em;
    justify-content: center;
    margin: 0 0 0 2px !important;
}

.manifest{
    font-weight: bold;
}
.firstRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lastRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GITruckWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    min-height: 6rem;
    height: 100%;
}

.GITruckWrapper .Truck {
    margin: 0 0 0 15px;
}

#result p {
    font-size: 30px;
}

#fileDropReceiver{
    border: 2px solid #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold, "Vollkorn";
    color: #ffffff;
    width: 100%;
}

textarea {
	width: 100%;
	resize: none;
}
input, textarea {
	color: #494949;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    margin: 0 0 10px;
	padding: 5px;
    width: 100%;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

input:focus {
	border-color: #808080;
	outline: none;
}

textarea:focus {
	border-color: #808080;
	outline: none;
}
/*Стили кнопок*/
.blink_on{
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #6060cf;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #6060cf;
    transition: .2s ease-in-out;
    /*font-size: 30px;*/
}
blink_on:before {
    content: "";
    background: linear-gradient(90deg, rgba(47, 83, 255, 0.1), rgba(93, 95, 255, 0.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

blink_on:hover {
    background: #fe6637;
    color: #fff;
}
blink_on:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

.pal_btn{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #6060cf;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #6060cf;
  transition: .2s ease-in-out;
  /*font-size: 30px;*/
}
pal_btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(47, 83, 255, 0.1), rgba(93, 95, 255, 0.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

pal_btn:hover {
    background: #fe6637;
    color: #fff;
}
pal_btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

.blink_off{
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #a2020e;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #a2020e;
    transition: .2s ease-in-out;
    /*font-size: 30px;*/
}
blink_off:before {
    content: "";
    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

blink_off:hover {
    background: #a2020e;
    color: #fff;
}
blink_off:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

/* Окно */

.overlay_popup {
	display:none;
	position:fixed;
	z-index: 999;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:#000;
	opacity:0.5;
}

.popup {
	display: none;
	position: absolute;
	z-index: 1000;
	margin:0 50% 0 50%;
	width:50%;
}

/* Ещё немного стилей для popup окна */

.object{
	width: 500px;
	height: 600px;
	background-color: #eee;
	padding: 50px 70px;
}

/*Адаптив*/
@media (max-width: 450px) {
    #fileDropReceiver {display: none;}
    #timeTable{
        width: auto;
        font-size: 14px;
    }
    .timeTable{
        font-size: 14px;
        width: auto;
    }
}
